<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57302564811-8kbfb38fnlc25636sbqmnaii35i6b61o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57302564811-8kbfb38fnlc25636sbqmnaii35i6b61o</string>
	<key>API_KEY</key>
	<string>AIzaSyB70jFxM22596d3tss2hN9PLEVNM2d8CGA</string>
	<key>GCM_SENDER_ID</key>
	<string>57302564811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JobKart.JobKart</string>
	<key>PROJECT_ID</key>
	<string>jobcart-78217</string>
	<key>STORAGE_BUCKET</key>
	<string>jobcart-78217.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57302564811:ios:f0801fab8c3e174c2e004e</string>
</dict>
</plist>